<div [ngClass]="customClass || ''" class="modal" [ngStyle]="{display: show ? 'block' : 'none'}">
    <div class="overlay" (click)="closeCallback()"></div>
    <div class="modal_content">
        <ng-content></ng-content>
        <button title="Close" class="close_modal" (click)="closeCallback()">
            CLICK TO CLOSE
        </button>
        {{ samcharacter }}
        <!-- <div *ngFor="let characters of onecomic" {{ characters }}></div> -->
        <p>testing</p>
    </div>
</div>
<!-- {{ onecomic | json }} -->
<!-- <p
        *ngFor="let characters of onecomic"
        *ngFor="let character of characters.items"
        
        {{ character }} ></p>
        <p>testing</p> -->