<div class="header">
  <h1>Ultimate Spiderman Comics</h1>
</div>
<br />
<br />
<div class="leftandright">
  <div class="leftside">
    <table>
      <tr *ngFor="let list of allcomics">
        <td>
          <button [routerLink]="['/details', { uri: list.resourceURI } ]">DETAILS</button>
        </td>
        <td>Issue: {{ list.issueNumber }} </td>
        <td>Title: {{ list.title }}</td>
      </tr>
    </table>
  </div>
  <div class="rightside">
  </div>
</div>
<div class="footer">
  <p>Data provided by Marvel. © {{ theYear }} Marvel <a href="http://marvel.com">www.marvel.com</a></p>
</div>