.leftandright {
    display: inline-block;
    width: 100%;
}

.header {
    font-family: 'Open Sans', sans-serif;
    background-color: #CD222C;
    /* background-color: #f9110f; */
    width: 100%;
    height: 75px;
    z-index: 1;
    top: 0%;
    border: black solid 3px;
}

.header h1 {
    margin: 0%;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    color: white;
    height: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding-left: 10px;
    padding-bottom: 3px;
}



table, th, td {
    border: 3px solid lightgray;
    padding: 6px;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
  }

button {
    font-family: 'Open Sans', sans-serif;
    background-color: #CD222C;
    color: white;

}


.leftside {
    display: inline-block;
    width: 49%;
    color: black;
}

.leftside p {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.rightside {
    vertical-align: top;
    display: inline-block;
    min-height: 750px;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 49%;
    /* position: relative; */
    background-image: url("../assets/sm3.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    /* background-color: black; */
}

.footer {
    background-color: #CD222C;
    width: 100%;
    height: 35px;
    margin: 0%;
    z-index: 1;
    border: black solid 3px;
}

.footer p {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* bottom: 0%; */
    position: relative;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 4px;
}

.footer a {
    color: white;
    text-decoration: none;
}

/* ======================================== */
.dialogleftandright {
    display: inline-block;
    width: 100%;
    /* opacity: .9; */
}

/* .dialogheader {
    font-family: 'Open Sans', sans-serif;
    background-color: #CD222C;
    width: 100%;
    height: 75px;
    z-index: 1;
    top: 0%;
    border: black solid 3px;
}

.dialogheader h1 {
    margin: 0%;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    color: white;
    height: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding-left: 10px;
    padding-bottom: 3px;
} */


.dialogleftside {
    display: inline-block;
    width: 49%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
}

.dialogleftside p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

.dialogleftside h3 {
    font-size: 150%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

.dialogrightside {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 49%;
}

.dialogrightside img {
    margin: auto;
}